__pycache__/
*.py[cod]
.venv/
venv/
.env
*.env
!/.env.example
*.key
*.pem
*.p12
*.pfx
*.crt
*.csr
*.log
*.sqlite
*.sqlite3
.pytest_cache/
.mypy_cache/
.ruff_cache/
dist/
build/
*.egg-info/
.DS_Store

# .NET / Windows Client
**/bin/
**/obj/
*.user
*.suo
*.nupkg
*.snupkg
